<!DOCTYPE html>
<html>
	<head>
		<title>Admin Chat Server</title>
		<link type="text/css" rel="stylesheet" href="/css/admin.css">
		<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
		<script src="http://localhost:7040/socket.io/socket.io.js"></script>

		<!-- Chat Client JS Files -->
		<script src="/angular/modules/nodechat.js"></script>
		<script src="/angular/controllers/adminController.js"></script>
		<script src="/angular/services/socketService.js"></script>
		<!-- Chat Client JS Files -->
	</head>
	<body ng-app="nodechat" ng-controller="adminController">

		<!-- Chat Client HTML -->
		<div id="setup" ng-if="!isConnected()">
			<label>Username:</label>
			<input type="text" ng-model="adminInformation.username" />
			<button ng-click="setUsername()">Connect</button>
		</div>
		<div id="admin-chat-client" ng-if="isConnected()">
			<div id="admin-chat-sidebar">
				<h2>Users Waiting</h2>
				<ul id="idle-users">
					<li ng-repeat="user in connectedUsers">
						<a href='#' ng-click='initiateConversation(user.id)'>{{user.username}}</a>
					</li>
				</ul>
				<h2>Ongoing Conversations</h2>
				<ul id="active-conversations">

				</ul>
			</div>
			<div id="admin-chat-container">
				<div class="admin-chat">
					<h2><a href="#"><i class="fa fa-times close"></i></a></h2>
						<pre>{{ongoingConversations | json}}</pre>
					<div class="chat-controls">
						<textarea></textarea>
						<button class="send">Send</button>
					</div>
				</div>
			</div>
		</div>
		<!-- Chat Client HTML -->

	</body>
</html>