<!DOCTYPE html>
<html>
	<head>
		<title>Admin Chat Server</title>
		<!-- Layout files -->
		<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
		<link rel="stylesheet" href="/foundation/css/normalize.css">
		<link rel="stylesheet" href="/css/admin/admin.css">
		<link rel="stylesheet" href="/css/admin/animations.css">
		<!-- Layout files -->

		<!-- Required Files -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
		<script src="https://code.angularjs.org/1.2.15/angular-route.min.js"></script>
		<script src="https://code.angularjs.org/1.2.15/angular-animate.min.js"></script>
		<script src="http://localhost:7040/primus/primus.io.js"></script>
		<script src="/foundation/js/foundation.min.js"></script>
		<!-- Required Files -->

		<!-- Chat Client JS Files -->
		<script src="/angular/modules/nodechatAdmin.js"></script>

		<script src="/angular/services/modelHelpers.js"></script>
		<script src="/angular/services/socketService.js"></script>
		<script src="/angular/services/admin/adminChatList.js"></script>
		<script src="/angular/services/admin/adminIdleList.js"></script>
		<script src="/angular/services/admin/adminAdminList.js"></script>

		<script src="/angular/controllers/admin/adminController.js"></script>
		<script src="/angular/controllers/admin/chatController.js"></script>
		<script src="/angular/controllers/admin/idleController.js"></script>
		<script src="/angular/controllers/admin/activeAdminsController.js"></script>

		<script src="/angular/directives/conversation.js"></script>
		<!-- Chat Client JS Files -->

		<script>
			$(function() {
				$(document).foundation();
			});
		</script>
	</head>
	<body ng-app="nodechat" ng-controller="adminController">

		<!-- Chat Client HTML -->

		<!-- Navigation -->
		<nav class="top-bar" data-topbar>
			<ul class="title-area">
				<li class="name">
					<h1><a href="#">Admin Panel</a></h1>
				</li>
			</ul>
			<section class="top-bar-section">
				<ul class="right">
					<li class="active"><a href='#' class="no-hover">Logged in as Joe Bloe</li>
					<li><a href="#">Logout</a></li>
				</ul>
			</section>
		</nav>
		<!-- Navigation -->

		<!-- Body -->
		<div id="body-container">

			<!-- Side Buttons -->
			<div id="side-nav">
				<ul id="side-nav-menu">
					<li ng-class="{active: location.url() == '/idleUsers'}">
						<a ng-href='#/idleUsers'><i class="fa fa-users"></i>&nbsp;Idle Users
							<div class="nav-right"><span class="count">{{idleUsersCount()}}</span></div>
						</a>
					</li>
					<li ng-class="{active: location.url() == '/activeChats'}">
						<a ng-href='#/activeChats'><i class="fa fa-comments"></i>&nbsp;Ongoing Chat
							<div class="nav-right"><span class="count">{{ongoingChatsCount()}}</span></div>
						</a>
					</li>
					<li ng-class="{active: location.url() == '/activeAdmins'}">
						<a ng-href='#/activeAdmins'><i class="fa fa-star"></i>&nbsp;Active Admins
							<div class="nav-right"><span class="count">{{activeAdminsCount()}}</span></div>
						</a>
					</li>
				</ul>
			</div>
			<!-- Side Buttons -->

			<!-- Content Pane -->
			<div id="content-container">

				<!-- List View -->
				<div class="chats-list">
					<ng-view></ng-view>
				</div>
				<!-- List View -->

				<!-- Chat Window -->
				<div class="chat-content" ng-controller="chatController">
					<div id="chat-overflow">
						<conversation source="chatList.getActiveChat()"></conversation>
					</div>
					<div id="message-window" class="row collapse">
						<div class="small-11 columns">
							<input type="text" placeholder="Type in your message..." ng-model="response" />
						</div>
						<div class="small-1 columns">
							<a class="button postfix" ng-click="sendMessage()">
								<i class="fa fa-reply"></i>
							</a>
						</div>
					</div>
				</div>
				<!-- Chat Window -->

			</div>
			<!-- Content Pane -->

		</div>
		<!-- Body -->

		<!-- Chat Client HTML -->

	</body>
</html>