<!DOCTYPE html>
<html>
	<head>
		<title>Client Chat Server</title>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
		<script src="http://localhost:7040/primus/primus.io.js"></script>

		<!-- Chat Client JS Files -->
		<script src="/angular/modules/nodechatClient.js"></script>
		<script src="/angular/controllers/client/clientController.js"></script>
		<script src="/angular/services/socketService.js"></script>
		<!-- Chat Client JS Files -->
	</head>
	<body>
		<!-- Chat Client HTML -->
		<div id="client-chat" ng-app="nodechat" ng-controller="clientController">
			<input type="text" ng-model="clientInformation.username" />
			<button ng-click="setUsername()">Connect</button>
		</div>
		<!-- Chat Client HTML -->
	</body>
</html>