<table class="chat-list-table clickable">
    <thead>
    <tr>
        <th>Customer</th>
        <th class="text-right">Last Activity</th>
    </tr>
    </thead>
    <tbody>

    <tr ng-repeat="chat in myChats" ng-class="{active: activeChat == chat}" ng-click="setActiveChat(chat)">
        <td>
            <p ng-repeat="client in chat.clients ">
                {{client.name}}
            </p>
        </td>
        <td align="right">{{chat.last_activity}}</td>
    </tr>
    <tr ng-if="lobby.ongoing_chats.length == 0">
        <td colspan="2">No Active Chats</td>
    </tr>
    </tbody>
</table>

