<table class="chat-list-table clickable">
    <thead>
    <tr>
        <th>Customer</th>
        <th>Last Message</th>
        <th class="text-right">Last Activity</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="chat in chatList.getChatList()"
        ng-class="{active: chatList.getActiveChat() == chat}"
        ng-click="chatList.setActiveChat(chat)">

        <td>{{chat.getClientUsername()}}</td>
        <td>{{chat.getLastMessageBody()}}</td>
        <td align="right">{{chat.getLastActivity()}}</td>
    </tr>
    <tr ng-if="!chatList.getChatList().length">
        <td colspan="3">No Active Chats</td>
    </tr>
    </tbody>
</table>