<div class="idleUsers">
    <table class="chat-list-table clickable">
        <thead>
        <tr>
            <th>Customer</th>
            <th class="text-right">Idle Time</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="user in lobby.idle_users" ng-click="activateChat(user)">
            <td>{{user.username}}</td>
            <td align="right">4 minutes</td>
        </tr>
        <tr ng-show="lobby.idle_users.length == 0">
            <td colspan="2">No Idle Users</td>
        </tr>
        </tbody>
    </table>
</div>