<table class="chat-list-table clickable">
    <thead>
        <tr>
            <th>Customer</th>
            <th class="text-right">Admin</th>
        </tr>
    </thead>
    <tbody>

    <tr ng-repeat="chat in lobby.ongoing_chats" ng-class="{active: activeChat == chat}" ng-click="setActiveChat(chat)">
        <td>
            <p ng-repeat="client in chat.clients | filter:{type : 'user'} ">
                {{client.username}}
            </p>
        </td>
        <td>
            <p class="text-right" ng-repeat="client in chat.clients | filter:{type : 'admin'} ">
                {{client.username}}
            </p>
        </td>
    </tr>
    <tr ng-if="lobby.ongoing_chats.length == 0">
        <td colspan="2">No Active Chats</td>
    </tr>
    </tbody>
</table>

