$side-nav-width: 180px;
$side-nav-bg: #131619;
$side-nav-button-height: 50px;

$chat-bg-color: #CCC;
$chat-list-bg-color: #FFF;
$client-bg-color: #FFF;
$admin-bg-color: #a7fffd;

.top-bar {
	z-index: 10;
	border-bottom: darken($topbar-bg-color, 2.5%);
}

#body-container {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	padding-top: $topbar-height;
}

#side-nav {
	position: relative;
	top: 0;
	left: 0;
	width: $side-nav-width;
	height: 100%;
	background-color: $side-nav-bg;
	z-index: 10;
}

#side-nav-menu {
	margin: 0;
	padding: 0;
	list-style: none;

	a {
		width: 100%;
		height: 100%;
		display: block;
		color: #FFF;
		font-weight: lighter;
		font-size: 14px;
		line-height: $side-nav-button-height;
		padding-left: 8px;
	}

	li {
		width: 100%;
		height: $side-nav-button-height;
		background-color: darken($side-nav-bg, 2.5%);

		&:hover {
			background-color: lighten($side-nav-bg, 2.5%);
		}

		&.active {
			background-color: lighten($side-nav-bg, 5%);
		}
	}
}

#content-container {
	position: absolute;
	top: 0;
	left: 0;
	padding-left: $side-nav-width;
	padding-top: $topbar-height;
	height: 100%;
	width: 100%;
	@include grid-row();
	max-width: 100%;
}

#message-window {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;

	input {
		margin: 0;
		border-left: none;
	}
	a {
		margin: 0;
	}
}

#chat-overflow {
	height: 100%;
	overflow-y: scroll;
	position: absolute;
	width: 100%;
	padding-bottom: 42px;
}

.chats-list {
	@include grid-column(6);
	padding-left: 0;
	padding-right: 0;
	min-height: 100%;
}

.chat-content {
	@include grid-column(6);
	background-color: $chat-bg-color;
	min-height: 100%;
	border-left: 1px solid darken($chat-bg-color, 5%);
	padding: 0;
	position: relative;
}

.chat-list-table {
	border: none;
	width: 100%;
	thead {
		background-color: #313131;
		* {
			font-weight: lighter;
			color: #FFF;
		}
	}
	tbody {
		tr {
			background-color: $chat-list-bg-color;
			cursor: pointer;
		}
		tr:nth-of-type(even) {
			background-color: darken($chat-list-bg-color, 5%);
		}
		tr.active {
			background-color: $admin-bg-color;
		}
	}
}

.conversation {
	list-style: none;
	padding: 0;
	margin: 0;

	li {
		display: block;
		width: 80%;
		padding: 10px;
		margin: 5px;
		margin-bottom: 0;
		font-size: 14px;

		&.client {
			background-color: $client-bg-color;
			float: left;
		}

		&.admin {
			background-color: $admin-bg-color;
			float: right;
		}
	}
}