$chat-window-width: 350px;
$chat-window-height: 400px;
$chat-window-border-color: #babcbb;
$chat-window-bg-color: #f4f4f4;

$chat-topbar-height: 40px;

$chat-topbar-bg-color-start: #7db3c8;
$chat-topbar-bg-color-end: #568da4;

$chat-topbar-font-color: #FFF;

$chat-input-height: 40px;
$chat-input-font-size: 14px;
$chat-input-bg-color: #FFF;
$chat-input-button-hover-color: #568da5;

$chat-font-size: 12px;

@mixin simple-gradient-bg($startColor, $endColor) {
	background: $startColor;
	background: -moz-linear-gradient(top, $startColor 0%, $endColor 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$startColor), color-stop(100%,$endColor));
	background: -webkit-linear-gradient(top, $startColor 0%,$endColor 100%);
	background: -o-linear-gradient(top, $startColor 0%,$endColor 100%);
	background: -ms-linear-gradient(top, $startColor 0%,$endColor 100%);
	background: linear-gradient(to bottom, $startColor 0%,$endColor 100%);
}