<!DOCTYPE html>
<html ng-app="admin">
	<head>
		<title>Admin Chat Server</title>
		<!-- Layout files -->
		<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
		<link rel="stylesheet" href="/bower_components/foundation/css/normalize.css">
		<link rel="stylesheet" href="/public/css/admin/dist/style.css">
		<!-- Layout files -->

	</head>
	<body ng-controller="AdminController">

		<!-- Chat Client HTML -->

		<!-- Navigation -->
		<nav class="top-bar" data-topbar>
			<ul class="title-area">
				<li class="name">
					<h1><a href="#">Admin Panel</a></h1>
				</li>
			</ul>
			<section class="top-bar-section">
				<ul class="right">
					<li class="active"><a href='#' class="no-hover">Logged in as Joe Bloe</li>
					<li><a href="#">Logout</a></li>
				</ul>
			</section>
		</nav>
		<!-- Navigation -->

		<!-- Body -->
		<div id="body-container">

			<!-- Side Buttons -->
			<div id="side-nav">
				<ul id="side-nav-menu">
					<li ng-class="{active: location.url() == '/idleUsers'}">
						<a ui-sref='idleUsers'><i class="fa fa-users"></i>&nbsp;Idle Users
							<div class="nav-right"><span class="count">{{lobby.idle_users.length}}</span></div>
						</a>
					</li>
					<li ng-class="{active: location.url() == '/ongoingChats'}">
						<a ui-sref='ongoingChats'><i class="fa fa-comments"></i>&nbsp;Ongoing Chat
							<div class="nav-right"><span class="count">{{lobby.ongoing_chats.length}}</span></div>
						</a>
					</li>
					<li ng-class="{active: location.url() == '/activeAdmins'}">
						<a ui-sref='activeAdmins'><i class="fa fa-star"></i>&nbsp;Active Admins
							<div class="nav-right"><span class="count">{{lobby.active_admins.length}}</span></div>
						</a>
					</li>
                    <li ng-class="{active: location.url() == '/myChats'}">
                        <a ui-sref='myChats'><i class="fa fa-book"></i>&nbsp;My Chats
                            <div class="nav-right"><span class="count">{{myChats.length}}</span></div>
                        </a>
                    </li>
				</ul>
			</div>
			<!-- Side Buttons -->

			<!-- Content Pane -->
			<div id="content-container">

				<!-- List View -->

                <ui-view></ui-view>

				<!-- List View -->

                <!-- Chat Window -->
                <chat ng-if="location.url() == '/myChats' || location.url() == '/ongoingChats'" chat="activeChat"></chat>
                <!-- Chat Window -->

			</div>
			<!-- Content Pane -->

		</div>
		<!-- Body -->

        <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular-cookies.min.js"></script>
        <script src="/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
        <script src="https://cdn.socket.io/socket.io-1.1.0.js"></script>
        <script src="/public/js/services/socket.js"></script>
        <script src="/public/js/admin/dist/admin.js"></script>

	</body>

</html>