<!DOCTYPE html>
<html ng-app="admin">
	<head>
		<title>Admin Chat Server</title>
		<!-- Layout files -->
		<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
		<link rel="stylesheet" href="/bower_components/foundation/css/normalize.css">
		<link rel="stylesheet" href="/public/css/admin/admin.css">
		<link rel="stylesheet" href="/public/css/admin/animations.css">
		<!-- Layout files -->

        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
        <script src="https://cdn.socket.io/socket.io-1.0.6.js"></script>
        <script src="/public/angular/main.js"></script>

	</head>
	<body ng-controller="AdminController">

		<!-- Chat Client HTML -->

		<!-- Navigation -->
		<nav class="top-bar" data-topbar>
			<ul class="title-area">
				<li class="name">
					<h1><a href="#">Admin Panel</a></h1>
				</li>
			</ul>
			<section class="top-bar-section">
				<ul class="right">
					<li class="active"><a href='#' class="no-hover">Logged in as Joe Bloe</li>
					<li><a href="#">Logout</a></li>
				</ul>
			</section>
		</nav>
		<!-- Navigation -->

		<!-- Body -->
		<div id="body-container">

			<!-- Side Buttons -->
			<div id="side-nav">
				<ul id="side-nav-menu">
					<li ng-class="{active: location.url() == '/idleUsers'}">
						<a ng-href='#/idleUsers'><i class="fa fa-users"></i>&nbsp;Idle Users
							<div class="nav-right"><span class="count">{{idleUsersCount()}}</span></div>
						</a>
					</li>
					<li ng-class="{active: location.url() == '/activeChats'}">
						<a ng-href='#/activeChats'><i class="fa fa-comments"></i>&nbsp;Ongoing Chat
							<div class="nav-right"><span class="count">{{ongoingChatsCount()}}</span></div>
						</a>
					</li>
					<li ng-class="{active: location.url() == '/activeAdmins'}">
						<a ng-href='#/activeAdmins'><i class="fa fa-star"></i>&nbsp;Active Admins
							<div class="nav-right"><span class="count">{{activeAdminsCount()}}</span></div>
						</a>
					</li>
				</ul>
			</div>
			<!-- Side Buttons -->

			<!-- Content Pane -->
			<div id="content-container">

				<!-- List View -->
				<div class="chats-list">
					<ng-view></ng-view>
				</div>
				<!-- List View -->

				<!-- Chat Window -->
				<div class="chat-content">
					<div id="chat-overflow">
						<conversation source="chatList.getActiveChat()"></conversation>
					</div>
					<div id="message-window" class="row collapse">
						<div class="small-11 columns">
							<input type="text" placeholder="Type in your message..." ng-model="response" />
						</div>
						<div class="small-1 columns">
							<a class="button postfix" ng-click="sendMessage()">
								<i class="fa fa-reply"></i>
							</a>
						</div>
					</div>
				</div>
				<!-- Chat Window -->

			</div>
			<!-- Content Pane -->

		</div>
		<!-- Body -->

		<!-- Chat Client HTML -->

	</body>
</html>