<!DOCTYPE html>
<html ng-app="client">
	<head>
		<title>Client Chat Server</title>
		<link rel="stylesheet" href="/public/css/client/client.css">
		<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
        <script src="https://cdn.socket.io/socket.io-1.0.6.js"></script>
		<script src="/public/angular/main.js"></script>

	</head>
	<body>
		<!-- Chat Client HTML -->
		<div id="client-chat" ng-controller="ClientController">

            <button ng-click="testMessage()">Test Message</button>

			<div id="login-screen" ng-if="!isConnected()">
				<input type="text" ng-model="clientInformation.username" />
				<button ng-click="setUsername()">Connect</button>
			</div>
			<div id="chat-window" ng-if="isConnected()" draggable="chat-window-topbar">
				<div id="chat-window-topbar">
					<h2 class="left">LiveChat Operator</h2>
					<a href='#' class="right"><i class="fa fa-times"></i></a>
				</div>
				<div id="chat-window-chat">
					<ul class="chat-list">
						<li ng-repeat="message in chat.getChat().getMessageList()" class="{{message.getUser()}}">
							{{message.getBody()}}
						</li>
					</ul>
				</div>
				<div id="chat-window-input">
					<div class="row collapse chat-input">
						<div class="small-1 columns">
							<span class="prefix"><a href='#'><i class="fa fa-comment"></i></a></span>
						</div>
						<div class="small-11 columns">
							<input type="text" class="chat-input" placeholder="Type your message here..." />
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Chat Client HTML -->
	</body>
</html>