<div class="chat-content messages">
    <div id="chat-overflow">
        <ul>
            <li ng-repeat="message in messages track by $index" ng-class="{userMessage: message.type == 'user', adminMessage: message.type == 'admin' }">
                {{message.content}}
            </li>
        </ul>
    </div>
    <div id="message-window" class="row collapse">
        <div class="small-11 columns">
            <input type="text" placeholder="Type in your message..." ng-model="message" />
        </div>
        <div class="small-1 columns">
            <a class="button postfix" ng-click="sendMessage(message)">
                <i class="fa fa-reply"></i>
            </a>
        </div>
    </div>
</div>